body {
background-image: url('bg.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color: white;
text-align: center;
font-size: 30px; 
font-style: inherit;
}
