#Main1{
    position: relative;
    bottom: 50%;
}

#Main {
    position: relative;
    bottom: 50%;
    
}
body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white
    text-align: center;
    font-size: 30px;
    font-style: inherit;
}